
.settings {
    width: 100%;
    max-width: 720px;
}

.settings * {
    box-sizing: border-box;
    /* font-size: 1.05em; */
}

.wrap h1 {
    font-size: 1.85rem;
}

.settings h2 {
    font-size: 1.45rem;
}

.settings h3 {
    font-size: 1.2rem;
}

.settings button {
    margin-left: 0.5rem;
}


.settings .formline {
    margin: 1.25rem auto;
}
.settings .formline label[for] {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 600;
}

/* .formline input[type="text"],
.formline input[type="email"],
.formline input[type="url"],
.formline input[type="password"],
.formline input[type="tel"],
.formline input[type="number"],
.formline input[type="search"],
.formline select,
.formline textarea,
.formline .input {
    width: 100%;
    max-width: 500px;
    padding: 0 0.5rem;
    font-size: 14px;
    vertical-align: middle;
}
.formline input.half,
.formline select.half,
.formline textarea.half {
    width: 49%;
    max-width: 246px;
}
.formline .input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.75rem;
}
.formline .input input,
.formline .input select,
.formline .input textarea {
    flex-grow: 4;
    flex-shrink: 4;
}
.formline .input button,
.formline .input input[type="button"],
.formline .input input[type="submit"] {
    flex-grow: 0;
    flex-shrink: 0;
} */

.settings .translator {
    margin-top: 2rem;
}
.translator .strings {
    
}
.translator .strings h3 {
}
.translator .strings .str-line {
    display: flex;
    flex-direction: row;
}
.strings .str-line > span {
    display: block;
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.25rem 0.5rem;
    background-color: #FEFEFE;
    border: 1px solid #ddd;
    cursor: pointer;
}
.strings .str-line.not-saved > span {
    background-color: #ffebeb;
}
.strings .str-line:hover > span {
    background-color: #421fce;
    color: #fff;
}
.strings .str-line.selected > span {
    background-color: #6f6fff;
    color: #fff;
}
.strings .str-line .key {
    font-weight: bold;
}
.strings .str-line .val {
}

.editor textarea {
    font-size: 16px;
    height: 3.5rem;
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}
.editor textarea:focus {
    outline: 0;
}
.editor .key-string textarea {
    font-weight: bold;
}
.editor .value-string textarea {
    height: 6rem;
}
.editor .buttons {
    padding: 0.5rem 0;
    text-align: right;
}


#route-component option:first-child {
    color: #ccc;
}
.route-variables {
    margin: 0.5rem auto;
}
.route-variables .route-param {
    cursor: pointer;
}

.current-routes > div {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.current-routes .route-path {
    font-size: 16px;
    font-weight: 600;
    flex-grow: 0;
}
.current-routes .route-component {
    font-size: 16px;
    flex-grow: 0;
    padding-left: 0.5rem;
}
.current-routes .actions {
    flex-grow: 4;
    flex-shrink: 4;
    justify-content: flex-end;
    text-align: right;
}
.current-routes .actions a {
    text-decoration: none;
}
.route-error {
    margin: 1rem auto;
    color: red;
    font-size: 14px;
    font-weight: 600;
}


/* tabs */
.settings .tabs[data-tab="translations"] .formline.buttons,
.settings .tabs[data-tab="server"] .formline.buttons {
    display: none;
}


/* server */
.server-msg {
    position: relative;
}

.server-msg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ccc;
    border: 1px solid #666;
}

.server-msg.ok:before {
    background-color: limegreen;
}
.server-msg.alert:before {
    background-color: orange;
}
.server-msg.error:before {
    background-color: orangered;
}