
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: relative;
    min-height: 100%;

    .content {
        padding-bottom: 50px;

        .site-stage {
            margin-left: auto;
            margin-right: auto;
            width: 850px;
            max-width: 90%;
        }
    }
}